{
    "extends": [
        "airbnb",
        "prettier",
        "prettier/react"
    ],
    "rules": {
        "react/jsx-filename-extension": [1, { "extensions": [".js"] }],
        "jsx-a11y/label-has-associated-control": [ "error", { "assert": "htmlFor" }],
        "no-unused-vars": 1,
        "react/jsx-props-no-spreading": 0,
        "no-return-assign": 0,
        "no-underscore-dangle": 0
    },
    "env" : {
        "browser": true
    }
}
